/* Profile.css */
.profile {
    padding: 20px;
    text-align: center;
  }
  
  .profile h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile section {
    margin-top: 20px;
    text-align: left;
  }
  
  .profile h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .profile ul {
    list-style: none;
    padding: 0;
  }
  
  .profile ul li {
    margin: 10px 0;
  }
  